{%- if include.data -%}
    {% assign data = page[include.data] %}
{% else %}
    {% assign data = page.popup %}
{% endif %}

<div class="popup" id="{{ include.id }}">
    <div class="popup__space">
        <aside class="popup__content">
            <a href="#close" class="popup__close" aria-label="Hide popup"></a>
            <header class="popup__header">
                {%- if data.title -%}<h2 class="popup__title">{{ data.title }}</h2>{% endif %}
            </header>
            {%- include download-app-content.liquid standalone=false -%}
        </aside>
    </div>
</div>
