<section class="download download--app-page" id="app">
  <div class="row justify-content-center">
    <div class="col col-12 col-lg-10 col-xxl-8">
      {%- include download-app-content.liquid standalone=true -%}
    </div>
  </div>
</section>
